[Unit]
Description=Lijing PostgreSQL logical backup
Wants=postgresql@15-main.service
After=postgresql@15-main.service
ConditionPathIsDirectory=/var/lib/postgresql/15/main

[Service]
Type=oneshot
User=postgres
Group=postgres
ExecStart=/usr/local/sbin/lijing-postgres-backup
SyslogIdentifier=lijing-postgres-backup
